extends layout

block content
  h1 #{title}: #{genre.name}

  p Do you really want to delete this Genre?
  if genre_books.length

    p #[strong This genre has the following books.]

    div.detail-list
      dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}

  form(method='POST' action='')
    div.form-group
      input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

    button.button.hollow(type='submit') Delete
